@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    margin: 0;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}

.mobile-container {
    width: 400px;
    height  :80vh;
    overflow: scroll;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.2);
}

header {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 1rem;
 }

 header input {
     background-color: #eee;
     border: none;
     border-radius: 3px;
     padding: 0.5rem 1rem;
 }

 header button {
     background-color: #000;
     color: #fff;
     border: none;
     border-radius: 3px;
     margin-left: 0.5rem;
     padding: 0.4rem 1rem;
     cursor: pointer;
     font-size: 1rem;

 }

 .fav-container {
     padding: 1rem;
     text-align: center;
     background-color: #cdedfd;
    background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
 }

 .fav-container h2 {
     margin: 0;
 }

.fav-meals {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.fav-meals li {
    width: 85px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

}

.fav-meals li button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: #000;
    color: #fff;;
    font-size: 1.1rem;
    cursor: pointer;

}

.fav-meals li img {
    object-fit: contain;
    background-color: #eee;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
}

.fav-meals li span {
    width: 75px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8rem;
}

.meals {
    display: flex;
    flex-wrap: wrap;

}

.meal {
    overflow: hidden;
    width: 100%;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

}

.meal-header {
    position: relative;

}

.meal-header .random {
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0.2rem 1rem;
    position: absolute;
    top : 1rem;
}

.meal-header img {
    width: 100%;
    height: 300px;
    object-fit: contain;

}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #666;
}

.meal-body .fav-btn.active {
    color: red;
}