@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-attachment: fixed;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

/* Common Method*/

.fade {
    animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* Container */

.container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}
.result {
    width: 70%;
    padding: 1rem 3rem;
}

/* Result Common method */

.content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.3);
    padding: 2rem 3rem;
    margin: 1rem 0;
}

.content * {
    cursor: pointer;
}

h3 {
    margin: 0;
    font-size: 1.7rem;
    line-height: 2.2rem;
}

.btn {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.3);
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
}

.description {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #333;
    margin-bottom: 3rem;
}

.tools {
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: 1.2rem;
}

.tools * {
    margin: 1rem 0;
    width: 100%;
}

.tools select , .tools input {
    padding: 1rem;
    font-size: 1.2rem;
}

.tools input[type="checkbox"] {
    display: none;
}
.tools input[type="checkbox"] + label{
    display: inline-block;
    border: 1px dashed rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.2);
}
input[type="checkbox"]:checked + label{
    background-color: tomato;
    color: #fff;
    }

.btn-generate {
    background-color: #9C27B0;
    color: #fff;
}

/* Flash */
.flash {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    padding: 1rem 3rem;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.bound {
	animation: bound 1s ease-in-out;
}

@keyframes bound {
    0% {transform: scale(1)}
    12.5% {transform: scale(0.89)}
    25% {transform: scale(1)}
    37.5% {transform: scale(0.9)}
    50% {transform: scale(1)}
    62.5% {transform: scale(0.92)}
    75% {transform: scale(1)}
    87.5% {transform: scale(0.97)}
    100%{transform: scale(1)}
}